devdnsbackend/build
devdnsbackend/build/**
devdnsbackend/_build/**
devdnsbackend/cmake-build*
.vscode
.idea
uacme/
acme-lw/
conf/pdns.sqlite3
conf/pdns.sqlite3-shm
conf/pdns.sqlite3-wal
!devdnsbackend/include/uacme